:root {
    --body-font-family: "Noto Sans", sans-serif;
    --body-font-size: 16px;
    --body-font-weight: 400;
    --body-font-color: #505d68;
    --body-line-height: 1.45;
    --heading-font-family: "Chivo", sans-serif;
    --heading-font-color: #222426;
    --heading-font-weight: 700;
    --link-font-color: #222426;
    --link-hover-font-color: #ffb424;
    --button-font-size: 14px;
    --button-font-weeight: 600;
    --white-color: #fff;
}


/*!
 *	Common
 * ----------------------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

body {
    margin: 0;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    color: var(--body-font-color);
    line-height: var(--body-line-height);
    font-weight: var(--body-font-weight);
    background-color: var(--white-color);
    text-align: left;
}

img {
    max-width: 100%
}

a {
    color: var(--link-font-color);
    text-decoration: none;
    -webkit-transition: all .5s;
    transition: all .5s;
}

a:hover {
    color: var(--link-hover-font-color);
}

p {
    margin-top: 0;
    margin-bottom: 24px;
}

p:last-child {
    margin-bottom: 0;
}

abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
}

address {
    margin-bottom: 16px;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 24px;
}

ol,
ul {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 24px;
}

b,
strong {
    font-weight: bold;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

pre,
code,
kbd,
samp {
    font-size: 1em;
}

pre {
    margin-top: 0;
    margin-bottom: 16px;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

figure {
    margin: 0 0 16px;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[role="button"] {
    cursor: pointer;
}

select {
    word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

summary {
    display: list-item;
    cursor: pointer;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

code {
    font-size: 87.5%;
    color: #e83e8c;
    word-wrap: break-word;
}

a>code {
    color: inherit;
}

kbd {
    padding: 4px 8px;
    font-size: 87.5%;
    color: #fff;
    background-color: #212529;
    border-radius: 2px;
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: 700;
}

pre {
    display: block;
    font-size: 87.5%;
    color: #212529;
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

blockquote {
    font-size: 28px;
    font-weight: 600;
    color: #000103;
    padding-left: 32px;
    border-left: 6px solid #ffb424;
    margin-top: 64px;
    margin-bottom: 64px;
}

#wrapper {
    overflow: hidden;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: " Chivo", sans-serif;
    color: var(--heading-font-color);
    font-weight: var(--heading-font-weight);
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 1.25;
}

h1,
.h1 {
    font-size: 80px
}

h2,
.h2 {
    font-size: 56px
}

h3,
.h3 {
    font-size: 42px
}

h4,
.h4 {
    font-size: 35px
}

h5,
.h5 {
    font-size: 18px
}

h6,
.h6 {
    font-size: 20px
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}


/*!
 *	Spacing
 * ----------------------------------------------- */

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-48 {
    margin-top: 48px !important;
}

.mt-64 {
    margin-top: 64px !important;
}

.mt-72 {
    margin-top: 72px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-24 {
    margin-bottom: 24px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-48 {
    margin-bottom: 48px !important;
}

.mb-64 {
    margin-bottom: 64px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.text-white {
    color: #fff !important;
}

.text-dark {
    color: #222426 !important;
}

.text-yellow {
    color: #ffb424 !important;
}

.text-center {
    text-align: center !important;
}


/*!
 *	Grid System
 * ----------------------------------------------- */

.wrap,
.wrap-fuild {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.wrap *,
.wrap-fuild * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-1 {
    max-width: 8.33333333%;
    flex: 0 0 8.33333333%;
}

.col-2 {
    max-width: 16.66666667%;
    flex: 0 0 16.66666667%;
}

.col-3 {
    max-width: 25%;
    flex: 0 0 25%;
}

.col-4 {
    max-width: 33.33333333%;
    flex: 0 0 33.33333333%;
}

.col-5 {
    max-width: 41.66666667%;
    flex: 0 0 41.66666667%;
}

.col-6 {
    max-width: 50%;
    flex: 0 0 50%;
}

.col-7 {
    max-width: 58.33333333%;
    flex: 0 0 58.33333333%;
}

.col-8 {
    max-width: 66.66666667%;
    flex: 0 0 66.66666667%;
}

.col-9 {
    max-width: 75%;
    flex: 0 0 75%;
}

.col-10 {
    max-width: 83.33333333%;
    flex: 0 0 83.33333333%;
}

.col-11 {
    max-width: 91.66666667%;
    flex: 0 0 91.66666667%;
}

.col-12 {
    max-width: 100%;
    flex: 0 0 100%;
}

.no-guttor {
    margin-right: 0;
    margin-left: 0;
    margin-top: 25px;
}

.no-guttor>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.flex-reverse {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.align-center {
    -ms-align-items: center;
    align-items: center;
}


/*!
 *	Form Styling
 * ----------------------------------------------- */

.btn {
    display: inline-block;
    padding: 16px 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #000;
    font-family: var(--body-font-family);
    font-size: var(--button-font-size);
    font-weight: 700;
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    line-height: 1;
    text-align: center;
    border-radius: 50px;
    color: #fff;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    color: #000;
    background-color: #E4E7EC;
}

.btn--block {
    width: 100%;
    display: block;
}

.btn--ffffff {
    background-color: #e0e8e7;
    color: #222426;
}

.btn--ffffff:hover {
    background-color: #000;
    color: #fff;
}

.btn--yellow:hover {
    background-color: #e69f16;
    color: #222426;
}

.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border: 1px solid #707070;
    height: 44px;
    padding: 8px 16px;
    background-color: #fff;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    color: var(--body-font-color);
}

.form-control:focus {
    border-color: #1a1a1a;
    outline: none;
}

textarea.form-control {
    height: auto;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}


/*!
 *	Header
 * ----------------------------------------------- */

.site-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrap--header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 4;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .05);
}

.sticky+.content {
    padding-top: 102px;
}

.navbar {
    margin-left: auto;
    margin-right: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
}

ul {
    list-style: none;
}

ul li {
    position: relative;
}

.navbar ul li ul.submenu li {
    font-size: 14px;
    padding: 20px 0 0 20px;
    margin-left: 0px;
}

ul li ul.submenu {
    display: block;
}

ul li ul.submenu {
    width: 200px;
    padding: 20px;
    background-color: white;
    position: absolute;
    z-index: 999;
    display: none;
    text-align: left;
    margin: 0;
}

.submenu li a i {
    font-size: 10px;
}

ul li a:hover {
    color: #525fe1;
}

ul li:hover ul.submenu {
    display: block;
}

.navbar ul li {
    position: relative;
}

.navbar ul li {
    padding: 0px 23px;
    font-weight: 400;
}

@media (max-width: 1024px) {
    .navbar {
        display: none;
    }
    .col-md-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .col-md-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

.section--main-hero {
    background-color: #FAEDE3;
    position: relative;
    padding: 60px 0px 80px 0px;
}

.main-hero__shape .shape-3 {
    position: absolute;
    height: 330px;
    width: 330px;
    bottom: -171px;
    left: -117px;
    z-index: 1;
    background-size: cover;
}

.main-hero__shape .shape-4 {
    position: absolute;
    right: -55px;
    top: -113px;
    width: 310px;
    height: 310px;
    background-size: cover;
}

.about__link {
    position: relative;
    z-index: 2;
}

.main-hero__heading span {
    color: #006D77;
}

.main-hero__block {
    position: relative;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

.main-hero__block .shape-12 {
    position: absolute;
    width: 190px;
    bottom: -527px;
    left: -130px;
    animation-name: bounce-1;
    animation-timing-function: linear;
    align-self: flex-end;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}

.main-hero__block span {
    bottom: -455px;
    color: white;
    position: absolute;
    left: -89px;
    font-size: 28px;
    font-weight: bold;
    width: 120px;
    animation-name: bounce-1;
    animation-timing-function: linear;
    align-self: flex-end;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}

.main-hero__block .shape-13 {
    position: absolute;
    bottom: -447px;
    left: -168px;
    animation-name: bounce-1;
    animation-timing-function: linear;
    align-self: flex-end;
    animation-duration: 11s;
    animation-iteration-count: infinite;
}

@keyframes nudge {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50px, 0);
    }
}

.main-hero__img img {
    position: absolute;
    top: 118px;
    width: 82%;
    z-index: 0;
    animation: pulse 3s ease infinite alternate, nudge 3s linear infinite alternate;
}

@keyframes rise {
    from {
        transform: translateY(30vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes bounce {
    from {
        transform: translateX(-30vw);
    }
    to {
        transform: translateX(30vw);
    }
}

.main-hero__img {
    animation: 11s linear 0s infinite alternate rise, 11s linear 0s infinite alternate bounce;
}

.main-hero__heading p {
    font-size: 24px;
    color: #667085;
    font-weight: 400;
    margin-top: 40px;
}

.about__link a {
    margin-right: 37px;
    font-size: 18px;
    padding: 22px 56px 22px 32px;
}

.about__link {
    position: relative;
}

.awesome_team {
    position: relative;
}

.burger-icon-top::after {
    display: block;
    position: absolute;
    right: -85px;
    top: -10px;
    width: 26px;
    height: 2px;
    content: "";
    background-color: #667085;
}

.burger-icon-mid::after {
    display: block;
    position: absolute;
    right: -85px;
    top: -4px;
    width: 26px;
    height: 2px;
    content: "";
    background-color: #667085;
}

.burger-icon-bottom::after {
    display: block;
    position: absolute;
    right: -85px;
    top: 3px;
    width: 26px;
    height: 2px;
    content: "";
    background-color: #667085;
}

.main-hero__site::after {
    top: 30px;
    right: -56px;
}

.hover-up:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}

.hover-up {
    padding: 15px;
}

.section--social {
    padding-top: 0px;
}

.social__img {
    position: relative;
    z-index: 2;
}

.social__img .shape-5 {
    position: absolute;
    right: 562px;
    top: 188px;
    height: 135px;
}

.social__img .shape-6 {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}

.social__heading {
    text-align: center;
}

.social__heading p {
    font-size: 24px;
    color: #475467;
}

.social__link {
    margin: 90px 0px 60px 0px;
}

.social__link ul li {
    list-style: none;
    margin: 0px 10px 15px;
}

.social__link a {
    color: #000103;
    background-color: #f2f4f7;
    font-size: 18px;
    border-radius: 50px;
    font-weight: bold;
    padding: 22px 32px;
    margin: 10px 15px;
}

.social__link a:hover {
    background-color: white;
    border: 1px solid #006D77;
    color: #006D77;
}

.social__scale {
    background-color: #fff3ea;
    padding: 60px;
}

.social__scale p {
    font-size: 18px;
    margin-bottom: 29px;
}

.social__more a:hover {
    margin-top: 18px;
    background-color: black;
    color: white;
}

.social__more a {
    color: #000103;
    background-color: white;
    font-size: 18px;
    border-radius: 50px;
    font-weight: bold;
    padding: 22px 32px;
}

.social__studios {
    background-color: #eae4e9;
    padding: 60px;
}

.social__studios p {
    font-size: 18px;
    margin-bottom: 29px;
}

.social__blend {
    background-color: #fde2e4;
    padding: 60px;
}

.social__blend p {
    font-size: 18px;
    margin-bottom: 29px;
}

.social__Choose {
    background-color: #fad2e1;
    padding: 60px;
}

.info {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    width: 300px;
    line-height: 100%;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
}

.social__Choose p {
    font-size: 18px;
    margin-bottom: 29px;
}

.social__letter {
    background-color: #dbece5;
    padding: 60px;
}

.social__letter p {
    font-size: 18px;
    margin-bottom: 29px;
}

.social__Create {
    background-color: #bee1e6;
    padding: 60px;
}

.social__Create p {
    font-size: 18px;
    margin-bottom: 29px;
}

.section--facilitate {
    padding-top: 0px;
}

.facilitate__heading {
    text-align: center;
}

.facilitate__heading p {
    font-size: 24px;
    color: #475467;
    padding-bottom: 50px;
}

.facilitate__Business {
    background-color: #dbece5;
    padding: 53px 48px;
    border-radius: 16px;
    margin-bottom: 20px;
    position: relative;
}

.facilitate__img .shape-7 {
    position: absolute;
    right: -25px;
    bottom: -11px;
}

.facilitate__img .shape-8 {
    position: absolute;
    right: -7px;
    bottom: -2px;
}

.facilitate__img .shape-9 {
    position: absolute;
    right: -25px;
    bottom: -20px;
}

.facilitate__local {
    background-color: #d1ecfd;
    padding: 53px 48px;
    border-radius: 16px;
    margin-bottom: 20px;
    position: relative;
}

.facilitate__Social {
    background-color: #fff3ea;
    padding: 53px 48px;
    border-radius: 16px;
    margin-bottom: 20px;
    position: relative;
}

.facilitate__img p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.facilitate__img h4 {
    margin: 20px 0px;
}

.section--works {
    padding-top: 0px;
}

.works__img {
    padding: 0px 30px 0px 12px;
}

.works__img img {
    border-radius: 16px;
}

.works__heading span {
    background-color: #FFF3EA;
    border-radius: 50px;
    color: #E29578;
    padding: 14px 28px;
    font-size: 14px;
}

.works__heading h3 {
    font-size: 56px;
    margin-top: 40px;
}

.works__heading p {
    font-size: 24px;
    font-weight: 400;
    color: #475467;
    width: 573px;
    margin-bottom: 50px;
}

.works__heading {
    border-bottom: 2px dotted #006D77;
    margin: 30px 0px;
}

.works__latest {
    background: url("../images/icon-leaf.svg") no-repeat;
    background-size: 20px;
    padding: 0px 0px 0px 28px;
}

.works__latest p {
    padding-bottom: 35px;
    font-size: 18px;
    font-weight: 400;
}

.section--Offer {
    padding-top: 0px;
}

.Offer__site {
    background-color: #fff3ea;
    border-radius: 30px;
    padding: 0px 130px 75px;
}

.Offer__heading {
    text-align: center;
    position: relative;
}

.Offer__heading .shape-10 {
    position: absolute;
    left: -158px;
    top: -103px;
}

.Offer__heading h2 {
    padding-top: 70px;
}

.Offer__heading p {
    font-size: 24px;
    font-weight: 400;
    color: #475467;
    padding-bottom: 50px;
}

.Offer__info {
    background-color: white;
    padding: 53px 48px;
    border-radius: 16px;
    transition: 0.5s;
}

.Offer__info:hover {
    transform: translatey(-5px);
}

.Offer__Strategic h3 {
    font-size: 22px;
    padding-top: 20px;
}

.section--Customers {
    padding-top: 0px;
}

.slider2.owl-carousel .owl-nav button.owl-prev,
.slider2.owl-carousel .owl-nav button.owl-next {
    top: -130px;
    background: #e0e8e7;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 50px;
    color: #000;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: 1129px;
    top: -133px;
}

.slider2 .owl-prev span {
    position: absolute;
    top: -12px;
    right: 21px;
}

.slider2 .owl-next span {
    position: absolute;
    top: -12px;
    right: 20px;
}

.slider2.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: 9px;
    top: -130px;
}

.Customers__heading p {
    font-size: 24px;
    color: #475467;
    margin-bottom: 30px;
}

.Customers__swiper {
    border: 10px solid #FAD2E1;
    padding: 40px 40px 10px;
    transition: 0.5s;
}

.Customers__swiper:hover {
    transform: translatey(-5px);
}

.Customers__Brooklyn {
    border: 10px solid #BEE1E6;
    padding: 40px 40px 10px;
    transition: 0.5s;
}

.Customers__Brooklyn:hover {
    transform: translatey(-5px);
}

.Customers__Jenny {
    border: 10px solid #DDD3FA;
    padding: 40px 40px 10px;
    transition: 0.5s;
}

.Customers__Jenny:hover {
    transform: translatey(-5px);
}

.Customers__Albert {
    border: 10px solid #D1ECFD;
    padding: 40px 40px 10px;
    transition: 0.5s;
}

.Customers__Albert:hover {
    transform: translatey(-5px);
}

.Customers__site img {
    border-radius: 50%;
}

.Customers__site h3 {
    font-size: 22px;
    margin: 20px 0px 0px 0px;
}

.Customers__site p {
    color: #667085;
    font-size: 16px;
    margin-top: 20px;
    width: 226px;
    margin-bottom: 10px;
}

.Customers__site span {
    font-size: 13px;
    color: #000103;
}

.section--News {
    padding-top: 0px;
}

.News__heading p {
    font-size: 24px;
    color: #475467;
    margin-bottom: 50px;
}

.News__links {
    text-align: center;
}

.News__links a {
    font-size: 18px;
    font-weight: 400;
    padding: 22px 56px 22px 32px;
}

.News__event h4 a {
    padding: 15px 0px 25px;
    font-size: 28px;
}

.News__event span {
    color: #667085;
    font-size: 12px;
}

.News__img img {
    border-radius: 16px;
    position: relative;
    z-index: 1;
}

.News__img {
    position: relative;
}

.News__img::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 27px;
    width: 402px;
    height: 262px;
    background-color: #D1ECFD;
    border-radius: 16px;
}

.News__know img {
    border-radius: 16px;
    position: relative;
    z-index: 1;
}

.News__know {
    position: relative;
}

.News__know::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 27px;
    width: 402px;
    height: 262px;
    background-color: #FAD2E1;
    border-radius: 16px;
}

.section--Choose {
    background-color: #006d77;
    padding-top: 0px;
    color: white;
    text-align: center;
    position: relative;
}

.Choose__site {
    padding: 70px 99px 0px;
}

.Choose__heading .shape-11 {
    position: absolute;
    right: -6px;
    top: -149px;
}

.Choose__heading .shape-12 {
    position: absolute;
    left: -45px;
    bottom: -109px;
}

.Choose__heading h3 {
    color: white;
    font-size: 56px;
    padding-top: 70px;
}

.Choose__billed span {
    margin-left: 30px;
}

.Choose__billed {
    padding-bottom: 40px;
}

.Choose__animet {
    background-color: white;
    color: #000103;
    text-align: left;
    padding: 40px 32px;
    border-radius: 16px;
}

.Choose__price .point {
    color: black;
    font-weight: bold;
    font-size: 35px;
}

.Choose__price h4 {
    font-size: 22px;
    font-weight: bold;
}

.Choose__price p {
    color: #98A2B3;
    font-size: 13px;
}

.Choose__price ul {
    list-style: none;
    padding: 20px 0px;
    border-top: 1px solid #98A2B3;
}

.Choose__price ul li {
    background: url("../images/check-circle.svg") no-repeat;
    margin-bottom: 12px;
    padding: 1px 0px 1px 30px;
}

.Choose__price .uncheck {
    background: url("../images/un-check-circle.svg") no-repeat;
    margin-bottom: 12px;
    padding: 1px 0px 1px 30px;
}

.Choose__link a {
    padding: 12px 22px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    background-color: white;
    color: black;
    width: 100%;
    border: 1px solid black;
    text-align: left;
}

.section--blogs {
    margin-bottom: 100px;
}

.blogs__info {
    background-color: #fff3ea;
    padding: 52px 74px;
    border-radius: 18px;
}

.blogs__heading span {
    font-size: 14px;
    color: #667085;
}

.blogs__heading p {
    font-size: 16px;
    color: #667085;
    margin: 0px;
}

.blogs__heading a {
    color: #006D77;
}

.blogs__box {
    background-color: white;
    max-width: 369px;
    padding: 11px 12px;
    border-radius: 55px;
    margin-top: 26px;
}

.form-newsletter .input-newslette {
    padding: 15px;
    border: 0px;
    font-size: 16px;
    color: #98A2B3;
    outline: none;
}

.blogs__box .btn-send {
    background-image: url("../images/btn-send.svg");
    background-position: -30px -21px;
    display: inline-block;
    height: 57px;
    width: 72px;
    border-radius: 0px;
    margin-left: 61px;
    background-color: white;
}

.blogs__shape .shape-1 {
    width: 250px;
    border-radius: 15px;
    box-shadow: 0px 47px 65px rgba(21, 28, 38, 0.1);
    position: absolute;
    left: -6px;
    max-width: 255px;
    height: 194px;
    z-index: 2;
    top: 55px;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-name: bounce-1;
    animation-timing-function: linear;
}

.blogs__shape .shape-2 {
    border-radius: 16px;
    max-width: 332px;
    position: absolute;
    top: 15px;
    right: 110px;
    display: inline-block;
    z-index: 1;
    box-shadow: 0px 47px 65px rgba(21, 28, 38, 0.1);
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

.blogs__shape {
    position: relative;
}

.site__info {
    text-align: right;
}

.site__info span {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

.btn-square {
    font-size: 14px;
    border-radius: 4px;
}

.site__broder {
    border-top: 1px solid rgb(80, 93, 104);
    margin: 40px 0px;
}

.site__heading h4 {
    font-size: 22px;
    font-weight: bold;
}

.site__heading ul {
    list-style: none;
    padding: 0px;
}

.site__heading {
    width: 223px;
}

.site__heading li {
    margin-bottom: 8px;
}

.site__text a {
    color: #98A2B3;
}

.site__text {
    padding: 0px 10px;
    text-align: left;
}

.site__text a {
    margin-right: 20px;
}

.site__policy {
    padding-bottom: 40px;
}

.site__social {
    text-align: right
}

.site__social img {
    margin: 0px 0px 0px 10px;
}